*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', serif;
}

/* ----Entete et Profil---- */

.header{
    width: 100%;
    height: 85vh;
    background-image: url(Image/slider-1-1920x1080.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 11rem;
}

.header::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 0;
    position: absolute;
}

/* --La navigation-- */

.header .navigation{
    width: 85%;
    padding: 2rem;
    z-index: 1;
}

.navigation nav{
    display: flex;
    background-color: orange;
    gap: 10px;
    padding: 1.3rem 2rem;
    flex-wrap: wrap;
    color: whitesmoke;
    border-radius: 5px;
}

.navigation .nav-block{
    min-width: 200px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.nav-block i{
    color: white;
    font-size: 18px;
}

.nav-block .nav-info{
    font-size: 15px;
}

.nav-info p{
    margin: 5px;
}

.navigation a{
    float: right;
    background-color: orange;
    padding: 12px 25px;
    margin-top: 2.2rem;
    text-decoration: none;
    font-size: 15px;
    color: whitesmoke;
    border-radius: 5px;
    position: relative;
}

.navigation a:hover{
    top: -0.3rem;
    right: 0.1rem;
}

/* --Le profil-- */

.header .profil{
    width: 700px;
    background-color: white;
    position: relative;
    bottom: -3rem;
    padding: 5px;
}

.profil .profil-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.8rem;
    text-align: center;
    position: relative;
    top: -7rem;
    margin-bottom: -4rem;
}

.profil-container .image{
    width: 200px;
    height: 200px;
    border-radius: 175px;
}

.image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 175px;
}

.profil-info h3{
    font-size: 2.2rem;
    font-weight: 600;
    font-family: 'Poppins', cursive;
    color: #333333;
}

.profil-info h4{
    font-size: 1.2rem;
    font-weight: 400;
    color: orange;
    margin-top: -5px;
}

.profil-info .info-statut{
    padding-top: 1rem;
}

.info-statut p{
    font-size: 16px !important;
    margin: 5px !important;
    color: #333333;
}

.info-statut b{
    font-size: 16px;
}

.profil-container .icone{
    display: flex;
    gap: 20px;
}

.icone i{
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(128, 100, 128);
    color: white;
}

.info-statut p{
    font-size: 21px;
    margin: 5px;
}

@media (max-width: 700px){
    .header{
        margin-bottom: 12rem;
    }

    .header .navigation{
        width: 90%;
    }

    .navigation nav{
        gap: 0;
    }

    .navigation a{
        margin: 2rem 0;
    }

    .profil .profil-container{
        top: -5rem;
    }

    .header{
        height: 90vh;
    }

    .header .profil{
        width: 375px;
    }
}

/* ----portofolio---- */

section{
    padding: 5px;
    position: relative;
}

.portofolio{
    width: 100%;
}

.port-container{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 4rem 15px;
}

.port-container .port{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 2 2 auto;
}

.port::before{
    content: '';
    width: 60px;
    height: 10px;
    border-radius: 10px;
    background-color: orange;
    margin-bottom: 10px;
}

.port h2{
    font-size: 1.7rem;
}

.port p{
    font-size: 1rem;
    opacity: 0.8;
    font-weight: 600;
    color: #333333;
}

.port-container .menu{
    display: flex;
    align-items: flex-end;
    gap: 15px;
    flex: 2 2 auto;
    color: #333333;
}

.menu ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.menu ul li{
    font-size: 1rem;
    font-weight: 600;
}

@media (max-width: 700px){
    .port-container{
        width: 100%;
        padding: 1rem 15px;

    }

    .port-container .menu{
        gap: 0;
    }

    .menu ul li{
        font-size: 0.8rem;
    }
}

/* ----galerie---- */

.galerie{
    width: 100%;
    padding: 1rem 0;
}

.galerie .galerie-container{
    width: 100%;
    height: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.galerie-container .content-image{
    width: 100%;
    height: 100%;
}

.content-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content-2{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.content-6{
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.content-7{
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}

.galerie-container .content-special{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media (max-width: 700px){

    .galerie .galerie-container{
        display: flex;
        flex-direction: column;
    }
}

/* ----About---- */

section{
    padding: 5px;
}

.about{
    width: 100%;
}

.about-container{
    width: 85%;
    margin: auto;
    display: flex;
    gap: 10px;
    padding: 4rem 0;
}

.about-container .part-title{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.part-title::before{
    content: '';
    width: 60px;
    height: 10px;
    border-radius: 10px;
    background-color: orange;
    margin-bottom: 10px;
}

.about-container .part-title h2{
    font-size: 1.7rem;
}

.about-container .part-title p{
    font-size: 1rem;
    opacity: 0.8;
    font-weight: 600;
    color: #333333;
}

.about-container .part-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 70%;
}

.about-container .part-info p{
    font-size: 1.1rem;
    text-align: justify;
    color: #333333;
}

.part-info .pourcent{
    width: 100%;
    padding: 3.2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    position: relative;
}

.pourcent .circle{
    width: 175px;
    height: 175px;
    position: relative;
    border-radius: 50%;
    background: whitesmoke linear-gradient(to right, transparent 50%, var(--cir) 0);
}

.circle h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2rem;
    z-index: 1;
    font-weight: 500;
}

.circle h2{
    font-size: 13px;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    font-weight: 300;
    color: #333333;
    text-transform: uppercase;
}

.circle::before{
    content: '';
    display: block;
    background: var(--cir);
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
    transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}

.circle::after{
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background: white;
}

@media (max-width: 700px){
    .about-container{
        flex-direction: column;
        width: 100%;
        padding: 4rem 1rem;
    }

    .about-container .part-title{
        width: 100%;
    }

    .about-container .part-info{
        width: 100%;
    }
}

/* ----Experience---- */

.experience{
    background-color: rgb(56, 1, 70);
    width: 100%;
    color: white;
}

.exp-container{
    width: 85%;
    margin: auto;
    display: flex;
    gap: 10px;
    padding: 4rem 15px;
}

.exp-container .part-title{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.part-title::before{
    content: '';
    width: 60px;
    height: 10px;
    border-radius: 10px;
    background-color: orange;
    margin-bottom: 10px;
}

.exp-container .part-title h2{
    font-size: 1.7rem;
}

.exp-container .part-title p{
    font-size: 1rem;
    opacity: 0.8;
    font-weight: 600;
}

.exp-container .part-exp{
    width: 70%;
}

.part-exp .part-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 2rem;
}

.part-info .info-title{
    width: 100%;
}

.part-info .info-title h2{
    font-size: 1.5rem;
    font-weight: 500;
}

.part-info .info-title h3{
    font-size: 1.1rem;
    font-weight: 600;
    color: orange;
}

.part-info .info-title p{
    margin-top: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
}

.part-info .para{
    font-size: 1rem;
}

.part-info ul{
    padding: 0 1.2rem;
    list-style: circle;
}

.part-info ul li{
    font-size: 1rem;
    margin: 5px;
}

@media (max-width: 700px){
    .exp-container{
        flex-direction: column;
        width: 100%;
    }

    .exp-container .part-title{
        width: 100%;
    }

    .exp-container .part-exp{
        width: 100%;
    }
}

/* ----Education---- */

.education{
    width: 100%;
    padding: 2rem 0;
}

.edu-container{
    width: 85%;
    margin: auto;
    display: flex;
    gap: 10px;
    padding: 4rem 5px;
}

.edu-container .part-title{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.part-title::before{
    content: '';
    width: 60px;
    height: 10px;
    border-radius: 10px;
    background-color: orange;
    margin-bottom: 10px;
}

.edu-container .part-title h2{
    font-size: 1.7rem;
}

.edu-container .part-title p{
    font-size: 1rem;
    font-weight: 600;
    color: #333333;
    opacity: 0.8;
}

.edu-container .part-edu{
    width: 70%;
    position: relative;
}

.part-edu::before{
    content: '';
    height: 95%;
    width: 2px;
    background-color: rgb(192, 190, 190);
    position: absolute; 
    left: -30px;
    top: 15px;
}

.part-edu .part-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 2rem;
}

.part-info .info-title{
    width: 100%;
}

.part-edu .part-info .info-title h2{
    font-size: 1.7rem;
    font-weight: 600;
    position: relative;
}

.part-edu .part-info .info-title h2::before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 25px;
    background-color: orange;
    opacity: 0.5;
    position: absolute;
    left: -42px;
    top: 7px;
    padding: 10px;
}

.part-edu .part-info .info-title h2::after{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 25px;
    background-color: orange;
    position: absolute;
    left: -34px;
    top: 14px;
}

.info-title h3{
    font-size: 1.3rem;
}

.part-edu .part-info .info-title p{
    margin-top: 1rem;
    color: #333333;
}

.part-edu .part-info .graphe{
    font-size: 1rem;
    color: #333333;
}

@media (max-width: 700px){
    .edu-container{
        flex-direction: column;
        width: 100%;
    }   

    .edu-container .part-title{
        width: 100%;
    }

    .edu-container .part-edu{
        width: 100%;
    }

    .part-edu::before, .info-title h2::before, .info-title h2::after{
        display: none;
    }
}

/* ----Footer---- */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(83, 1, 77);
}

footer .bloc-image{
    width: 100%;
    height: 40vh;
    position: relative;
}

footer .bloc-image::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
}

.bloc-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.bloc-image .part-complete{
    position: absolute;
    width: 100%;
    height: 40vh;
    top: 0;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.part-complete .complete{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    min-width: 150px;
    padding: 5px;
}

.complete h1{
    font-size: 3.5rem;
    font-weight: 600;
}

.complete .comp-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1rem;
}

footer .bloc-copyright{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bloc-copyright p{
    font-size: 0.8rem;
    color: rgb(218, 218, 218);
}

@media (max-width: 700px){
    footer .bloc-image, .bloc-image .part-complete{
        height: 60vh;
        /* gap: 0rem; */
    }

    .complete h1{
        font-size: 3rem;
    }
}

@media (max-width: 390px){
    .part-complete{
        flex-direction: column;
    }
}